body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 100;
  opacity: 0;
  transition: opacity 0.65s 0.15s;
}

.reveal {
  opacity: 1;
  overflow-y: auto;
}

.hidden {
  display: none;
}

.background {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  filter: brightness(60%);
  z-index: -999;
}

h1,
h2,
span {
  color: white;
}

h1 {
  font-size: 130px;
  margin: 0;
}

h2 {
  font-size: 50px;
  margin: 0;
  margin-top: -20px;
  margin-bottom: 20px;
}

input {
  font-family: inherit;
  width: 500px;
  border: 0;
  border-bottom: 2px solid white;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: white 0.2s;
  text-align: center;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

li {
  display: flex;
  height: 30px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 5px;
}

.login-form input {
  width: 250px;
}

.main-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quotes {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: -500;
}

.quote {
  margin-bottom: 20px;
  font-size: 20px;
}

.author {
  margin-bottom: 20px;
  font-size: 15px;
}

.todo-list {
  width: 500px;
  height: 0;
  list-style: none;
  padding-left: 0;
}

.todoClicked {
  text-decoration-line: line-through;
  color: rgba(255, 255, 255, 0.7);
}

.todo {
  cursor: pointer;
}

.upper-box {
  display: flex;
  justify-content: space-between;
}

.weather-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.weather,
.temperature,
.city {
  font-size: 16px;
}

.city-box {
  margin-top: 5px;
  margin-left: 20px;
}

.temperature {
  font-size: 20px;
  font-weight: bold;
}

.icon-weather-temperature-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -8px;
}

.icon-weather-box {
  display: flex;
  align-items: center;
}

.weather-icon {
  width: 75px;
  height: 75px;
}

.weather-temperature-box {
  display: flex;
  flex-direction: column;
}

.search-box {
  margin-left: 20px;
  margin-top: 10px;
  z-index: 999;
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
}

.search-input {
  position: relative;
  width: 200px;
  text-align: left;
  border: none;
  border-bottom: 2px solid white;
  padding-left: 20px;
  font-size: 16px;
  cursor: pointer;
}

.search-icon {
  position: absolute;
}
.search-icon i {
  color: white;
}

.search-hidden-box {
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.1s 0.1s;
}

.search-reveal {
  opacity: 1;
  overflow-y: auto;
}

.fab {
  color: white;
  margin-left: 10px;
  cursor: pointer;
}

.naver {
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}
